html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    background-color: rgb(182, 182, 182);
  }

  main {
      display: block;   
  }

  .green {
    background-color: green;
  }

  .yellow {
    background-color: yellow;
  }

  .orange {
    background-color: orange;
  }

  .red {
    background-color: rgb(250, 76, 76);
  }

  .purple {
    background-color: purple;
  }